.WS{
	position:absolute;
	left:38%;
	right:35%;
	bottom:25%;
	top:25%;
}
form{
	display: block;
	margin: auto;

}
a{
	text-decoration:none;
}


#navbar{
    list-style-type: none;
    float:right;
    position:relative;


}
.square{
	position:relative;
	top:20px;
}
	
	
a{
	display: block;
    width: 80px;
    color:black;
}

.sign{
	background-color:#3355dd;
	
	text-align:center;
	position:relative;
	right:30px;


	border-radius:5%;
}
.sign:hover{
	opacity:0.8;
}
.white{
	color:white;
}

#footer{
    list-style-type: none;
    float:left;
    position:relative;
    top:900px;
}
#footer:hover{
	text-decoration:underline;
}
.ad{
	position:relative;
	right:20px;

}
.input{
	width:400px;
	height:20px;
	position:relative;
	bottom:50px;
	left:20px;
	font-size:20px;
}



button{
	position:relative;
	bottom:50px;
	left:105px;
	font-size:;
}